/* App.css or your stylesheet */

body {
  margin-left: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #3b3b3b;
  color: #fff;
  /* Light gray background color */
}

.App {
  display: flex;
  min-height: 100vh;
}

/* Sidebar (Nav) styles */
.App-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #212121;
  /* Dark background color */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav li {
  margin-bottom: 15px;
}

.Nav li {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.Nav li:hover {
  color: black;
  /* Hover color */
  cursor: pointer;
}

/* Main content styles */
.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 300px;
  color: white;

}

a,
ul,
li {
  color: white;
}

a {
  text-decoration: none;
}

ul,
li :hover {
  /* color: black;
  transition: color 0.3s ease; */
  list-style: none;
}

/* Card styles */
.Card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #2c2c2c;
  /* Card background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dev,
#art,
#music {
  width: 50vw;
}